* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

header {
    background-color: black;
    position: fixed;
    right: 0px;
    top: 0px;
    left:0px;
    justify-content: space-between;
}

.title {
    margin-left: 30px;
    font-size: 20px;
    padding: 0px
}

.title a {
    text-decoration: none;
}
.title h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cartAndQty {
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 35px;
    gap: 10px;
}

.myPage {
    font-size: 30px;
    margin-right: 30px;
}

#qty {
    margin-right: 0px;
    font-size: 40px;
}

.cart {
    font-size: 30px;
}

.cart:hover {
    transform: scale(1.05);
}

main {
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.cartTitle {
    display: flex;
    font-size: 35px;
    
}

.cartIcon {
    font-size: 35px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.containerAddedItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 270px;
    border: 2px solid rgb(74, 122, 197);
    border-radius: 5%;
    background-color: whitesmoke;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60%;
    }
    
.productImg {
    height: 100%;
}

h2 {
    margin: 0px;
    font-size: 28px;
}   

h3 {
    margin: 0px;
    font-size: 14px; 
}
.ajustQty {
    display: flex;
    align-items: center;
    margin-top: 17px;
    gap: 5px;
}

.ajustBoxes {
    width: 22px;
    height: 22px;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(233, 232, 232);
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    cursor: pointer; 
}

.ajustBoxes:hover {
    border: 2px solid rgb(233, 232, 232);   
}

.ajustBoxes:active {
    transform: scale(0.95);
}

.item {
    margin-top: 17px;
}
    
.totalPrice {
    margin-top: 20px;
    font-size: 16px;
}

.buttonCompletePurchase {
    width: 200px;
    height: 40px;
    background-color: #5391fe;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    font-size: 16px;
    margin-top: 25px;
    color: white;
}

.buttonCompletePurchase:hover {
    background-color: rgb(73, 73, 73);
}

.buttonCompletePurchase:active {
    transform: scale(0.98);
}

.divComplete {
    margin-right: 20px;
    font-size: 16px;
}

.hidden {
    display: none;
}

.logOut {
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}


.containerOfPreviousOrders {
    display: flex;
    justify-content: left;
    margin-left: 5px;
    width: 400px;
}

.containingProducts {
    margin-right: 20px;
    width: 90px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.containerprevious {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 5px;

}

.mypreOrders{
    margin-top: 70px;
    font-size: 20px;
    cursor: pointer;
}

.containUser {
    display: flex;
    position: fixed;
    top: 72px;
    right: 7px;
}

.showUser{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.541);
}

.containerTotalPrice {
    display: flex;
    width: 100%;
    justify-content: right;
}

.textTotalPrice {
    display: flex;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
.title {
    font-size: 20px;
}  

.myPage {
    font-size: 25px;
}

#qty {
    font-size: 35px;
}

.cart {
    font-size: 25px;
}

.containerOfPreviousOrders {
    width: 280px;
}

.containerprevious {
    width: 280px;
}

}
    
@media screen and (max-width: 520px) {

.cartAndQty {
    margin-right: 15px;
}

#qty {
    font-size: 20px;
}
    
.title {
    font-size: 15px;
    margin-left: 15px;
} 
    
.myPage {
    font-size: 20px;
    margin-right: 10px;
}  
    
.cart {
    font-size: 20px;
} 
    
.logOut {
    font-size: 15px;
    margin-right: 0px;
}   

.containUser {
    top: 62px;
}


}
    
@media screen and (max-width: 480px) {

.cartAndQty {
    gap: 5px;
}

.title {
    font-size: 15px;
    margin-left: 15px;
} 

.myPage {
    font-size: 20px;
    margin-right: 10px;
}

#qty {
    font-size: 20px;
}

.cart {
    font-size: 20px;
} 

.containingProducts {
    width: 80px;
    font-size: 12px;
}

.mypreOrders{
    font-size: 15px;
}

}
    
@media screen and (max-width: 320px) {

.cartAndQty {
    margin-right: 10px;
}

.title {
    font-size: 13px;
    margin-left: 10px;
}  

.myPage {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 10px;
}

#qty {
    font-size: 20px;
}

.cart {
    font-size: 18px;
}   

.logOut {
    font-size: 12px;
} 

.containerOfPreviousOrders {
    width: 250px;
}

.containerprevious {
    width: 250px;
}

.containUser {
    top: 58px;
}

}
