* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

main {
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.cartTitle {
    display: flex;
    font-size: 35px;
    
}

.cartIcon {
    font-size: 35px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.containerAddedItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 400px;                                
    border: 2px solid rgb(74, 122, 197);
    border-radius: 5%;
    background-color: whitesmoke;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60%;
    }
    
.productImg {
    height: 100%;
}

h2 {
    margin: 0px;
    font-size: 40px;                             
}   

h3 {
    margin: 0px;
    font-size: 20px; 
}
.ajustQty {
    display: flex;
    align-items: center;
    margin-top: 25px;                          
    gap: 15px;                                  
}

.ajustBoxes {
    width: 40px;                                
    height: 40px;                                
    font-size: 20px;                              
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(233, 232, 232);
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    cursor: pointer; 
}

.ajustBoxes:hover {
    border: 2px solid rgb(233, 232, 232);   
}

.ajustBoxes:active {
    transform: scale(0.95);
}

.item {
    margin-top: 17px;
}
    
.containerTotalPrice {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.totalPrice {
    margin-top: 20px;
    font-size: 20px;           
}

.totalPrice, h4 {
    margin-bottom: 10px;
}

.buttonCompletePurchase {
    width: 300px;                  
    height: 60px;                   
    background-color: #5391fe;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    font-size: 25px;                   
    margin-top: 25px;
    color: white;
}

.buttonCompletePurchase:hover {
    box-shadow: 0px 0px 5px #5391fe;
}

.buttonCompletePurchase:active {
    transform: scale(0.98);
}

.divComplete {
    margin-right: 20px;
    font-size: 25px;                  
}

.hidden {
    display: none;
}

.containerOfPreviousOrders {
    display: flex;
    justify-content: left;
    width: 400px;
}

.containingProducts {
    margin-right: 20px;
    width: 90px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.containerprevious {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.mypreOrders{
    margin-top: 70px;
    font-size: 20px;
    cursor: pointer;
}

.containUser {
    display: flex;
    position: fixed;
    top: 72px;
    right: 7px;
}

.showUser{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.541);
}

.containerTotalPrice {
    display: flex;
    width: 100%;
    justify-content: right;
}

.textTotalPrice {
    display: flex;
    font-size: 12px;
}

@media screen and (max-width: 1600px) {

.containerAddedItem {
    height: 270px;
}

h2 {
    font-size: 28px;
}   

h3 {
    font-size: 14px; 
}

.ajustQty {
    margin-top: 14px;
    gap: 10px;
}

.ajustBoxes {
    width: 30px;
    height: 30px;
    font-size: 14px;
}

.totalPrice {
    font-size: 16px;
}

.buttonCompletePurchase {
    width: 200px;
    height: 40px;
    font-size: 16px;
}

.divComplete {
    font-size: 16px;
}

}
@media screen and (max-width: 600px) {

.containerOfPreviousOrders {
    width: 280px;
}

.containerprevious {
    width: 280px;
}

}
    
@media screen and (max-width: 520px) {

.containUser {
    top: 62px;
}

}
    
@media screen and (max-width: 480px) {

.containingProducts {
    width: 80px;
    font-size: 12px;
}

.mypreOrders{
    font-size: 15px;
}

}
    
@media screen and (max-width: 320px) {

.containerOfPreviousOrders {
    width: 250px;
}

.containerprevious {
    width: 250px;
}

.containUser {
    top: 58px;
}

}
