* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: black;
    position: fixed;
    right: 0px;
    top: 0px;
    left:0px;
    justify-content: space-between;
}

.title {
    margin-left: 30px;
    font-size: 20px;
    padding: 0px
}

.title a {
    text-decoration: none;
}
.title h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cartAndQty {
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 35px;
    gap: 10px;
}

.myPage {
    font-size: 30px;
    margin-right: 30px;
}

#qty {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height: 25px;
    right: 13px;
    top:8px;
    font-size: 14px;
    font-weight: 600;
    color:black;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

.cart {
    font-size: 30px;
}

.cart:hover {
    transform: scale(1.05);
}

.logOut {
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {

.title {
    font-size: 20px;
}  

.myPage {
    font-size: 25px;
}

#qty {
    width:22px;
    height: 22px;
    right:15px;
    top:10px;
    font-size: 10px;
}

.cart {
    font-size: 25px;
}

}

@media screen and (max-width: 520px) {

.cartAndQty {
    margin-right: 30px;
}

#qty {
    top:6px;
}
    
.title {
    font-size: 15px;
    margin-left: 15px;
} 
    
.myPage {
    font-size: 20px;
    margin-right: 10px;
}  
    
.logOut {
    font-size: 15px;
    margin-right: 0px;
}   

}

@media screen and (max-width: 480px) {

 .cartAndQty {
    gap: 5px;
    margin-right: 22px;
}

#qty {
    top:5px;
    right: 5px;
}

}

@media screen and (max-width: 320px) {

.cartAndQty {
    margin-right: 20px;
}

.title {
    font-size: 13px;
    margin-left: 10px;
}  

.myPage {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 10px;
}

#qty {
    top:6px;
    right: 5px;
    width:18px;
    height: 18px;
    font-size: 8px;
}

.cart {
    font-size: 18px;
}   

.logOut {
    font-size: 12px;
} 
}