* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phoneModelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:90vh;
    margin-top: 40px;
    background-image: linear-gradient(white, whitesmoke);
}

.imageContainer {
    height:55%;
}

.productImg {
    height: 100%;
}

h1 {
    margin-bottom: 0px;
}

h2,h3 {
    font-size: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #5391fe;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px
}

.buttonContainer:hover {
    box-shadow: 0px 0px 5px #5391fe;
}

.buttonContainer:active{
    transform: scale(0.98);
}

.buttonIcon {
    color: white;
    padding-right: 15px;
}

.hidden {
    display: none;
}

.containUser {
    display: flex;
    position: fixed;
    top: 72px;
    right: 7px;
}

.showUser{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.541);
}

@media screen and (max-width: 1600px) {

.phoneModelContainer{
    min-height: 520px;
}    

h2,h3 {
    font-size: 14px;
}

.buttonContainer {
    width: 250px;
    height: 40px;
    font-size: 16px
}

@media screen and (min-width: 350px) and (min-height: 700px) {

h2, h3 {
   font-size: 16px; 
}

.buttonContainer {

    width: 320px;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
}
}

@media screen and (min-width: 450px) and (max-width: 1100px) and (min-height: 1000px) {

    .phoneModelContainer{
        margin-top: 60px;
    }

    h2, h3 {
       font-size: 18px; 
    }
    
    .buttonContainer {
        width: 420px;
        height: 60px;
        font-size: 25px;
        border-radius: 10px;
    }
    }

}
@media screen and (max-width: 520px) {   

h2 {
    padding-left: 15px;
    padding-right: 15px;
}

h2,h3 {
    font-size: 12px;
    margin-top: 10;
    text-align: center;
}

h1 {
    text-align: center;
}

.imageContainer {
    padding-right: 10px;
    padding-left: 10px;
}

 .productImg {
    width: 100%;
} 

.containUser {
    top: 62px;
}

.phoneModelContainer {
    margin-top: 20px;
}

}

@media screen and (max-width: 320px) {

.containUser {
    top: 58px;
}
}